/*------------------------------------------------------------------
[Master Stylesheet]


-------------------------------------------------------------------*/
/*
==========================================
    Reset Css
==========================================
*/
:root {
    --primary: #eee30d;
    --dark: #0b0b0b;
    --body: #fff;
    --box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.4);
    --white: #f5f3f3;
}
html,body {
    font-family: 'Lato', sans-serif;
	color: var(--body);
    font-size: 14px;
    line-height: 1.8;
    overflow-x: hidden;
    width: 100%;
}
ul li {
    list-style: none;
}
h1,h2,h4,h5,h6,p,ul {
    margin: 0;
    padding: 0;
    color: var(--dark);
}
a,a:hover {
    text-decoration: none;
}
a:hover {
    color: var(--white);
}

.whats-app-fixed a{
    color: #fff;
    font-size: 2rem;
    padding: 3px;
    
}
/* ------------------------------------------------
    ***Header Top  Css Start***
------------------------------------------------- */
.portfolio_top{
    background-color: #e5e5e5;
    padding: 20px 0px;
}
.img_wrapperr{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img_wrapperr img{
    width: 200px;
    height: 200px;
    border: #0b0b0b 2px solid;
    border-radius: 50%;
}

.bio h1{
    color: #3d3a3a;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    font-weight: 900;
}
.bio h3{
    color: #3d3a3a;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 900;
}.bio p{
    color: #3d3a3a;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 900;
}
.career_objective h1{
    font-size: 50px;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.career_objective p{
    font-family:  'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    padding: 10px 0px;
    font-weight: 400;
}
.skills{
    padding: 20px 10px;
    background-color: #e5e5e5;

}
.skills ul li{
    font-family:  'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.educationa h2{
    font-size: 35px;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.experience h2{
    font-size: 35px;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.experience h4{
    font-size: 18px;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.experience p{
    font-size: 18px;
    font-weight: 500;
    font-family: 'Arial Narrow', Arial, sans-serif;
}
.projects h2{
     font-size: 35px;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.projects ol li{
    padding: 10px;
}
.projects ol li .list-wrapper{

    height: 100%;
    color: #3d3a3a;
    font-size: 18px;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    background-color: #e5e5e5;
    list-style: none;
    text-align: center;
    border-radius: 10px;
}
.projects ol li .list-wrapper{
    font-size: 24px;
}
.projects ol li ul li{
    font-size: 18px;
    font-weight: 500;
    font-family: 'Arial Narrow', Arial, sans-serif;
    padding: 0;   
}